@font-face {
  font-family: "Instagram Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/condensed+normal/GUJ/InstagramSansCondensedGUJ400.woff2) format("woff2");
  unicode-range: U+0A80-0AFF;
}
