@font-face {
  font-family: "Instagram Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/condensed+normal/TAM/InstagramSansCondensedTAM400.woff2) format("woff2");
  unicode-range: U+0B80-0BFF, U+11FC0-11FFF;
}
