@font-face {
  font-family: "Instagram Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/condensed+normal/BNG/InstagramSansCondensedBNG400self.woff2) format("woff2");
  unicode-range: U+0980-09FF;
}
