@font-face {
  font-family: "Instagram Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/condensed+normal/THA/InstagramSansCondensedTHA400.woff2) format("woff2");
  unicode-range: U+0E00-0E7F;
}
