:root {
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: isc;
  src: url(/isc4.ttf);
  font-weight: normal;
}

html {
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: "isc", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  cursor: pointer;
}
li {
  display: inline-block;
}
.years div span {
  font-size: 19px;
  margin: 19px 0;
}
.grow {
  flex-grow: 1;
}

@media (hover: hover) {
  .toggle:hover,
  .button:hover {
    background-color: var(--theme-shade-200);
  }
}

.button {
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 30px;
  margin: 6px;
  background-color: var(--theme-shade-100);
  color: var(--theme-shade-700);
  padding: 2px 12px;
}
.button.reload {
  width: 52px;
  height: 30px;
  margin: 0 auto;
  background-color: var(--theme-primary);
  color: var(--theme-background);
}

.toggle {
  cursor: pointer;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 999px;
  background-color: var(--theme-shade-100);
  margin-left: 8px;
}
.toggle svg path {
  fill: var(--theme-shade-700);
}
.toggle.enabled {
  background-color: var(--theme-primary);
}
.toggle.enabled path {
  fill: #fff;
}
header {
  display: flex;
  background: var(--theme-header);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  position: sticky;
  top: 0;
  padding: 12px 20px;
  z-index: 1;
}
header > a {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
  padding: 10px 0;
  margin: 0;
  list-style: none;
}
.container {
  display: flex;
}
.tbl .container,
.thf .container {
  justify-content: center;
  align-items: center;
  margin: 18px 0 14px;
  height: 114px;
}
.wsh .container {
  justify-content: space-between;
  margin-top: 20px;
  height: 80px;
}
.tbl .content {
  width: 114px;
  height: 114px;
}
.thf .content {
  width: 54px;
  height: 54px;
}
.wsh .content {
  width: 160px;
  height: 80px;
  border-bottom-right-radius: 12px;
}
li {
  background: var(--theme-box);
  box-shadow: var(--theme-box-shadow);
  border-radius: 12px;
}
.tbl li,
.thf li {
  padding: 12px 16px;
}
.wsh li {
  padding: 12px 0 0 16px;
}
.title {
  font-size: 19px;
  line-height: 25px;
  display: flex;
  justify-content: space-between;
}
.tbl .title,
.thf .title {
  width: 100%;
}
.wsh .title {
  width: calc(100% - 16px);
}
.date {
  display: inherit;
  font-size: 17px;
  color: var(--theme-shade-700);
}
.tbl .date,
.thf .date {
  text-align: center;
}
.wsh .date {
  margin-top: 5px;
}

html,
body {
  height: 100%;
  margin: 0;
}
.box {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px;
  max-width: 1720px;
  margin: 0 auto;
}
.box .body {
  padding: 0 20px;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.loading svg {
  animation-timing-function: linear;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 0.75s;
  height: 26px;
  width: 26px;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading svg > :first-child {
  fill: none;
  opacity: 0.2;
  stroke-width: 4;
  stroke: var(--theme-primary);
}
.loading svg > :last-child {
  fill: none;
  stroke: var(--theme-primary);
  stroke-dasharray: 80;
  stroke-dashoffset: 60;
  stroke-width: 4;
  stroke-linecap: round;
}

.error {
  display: flex;
  place-content: center;
  flex-direction: column;
  color: var(--theme-shade-700);
  font-size: 18px;
  text-align: center;
}
.error > :nth-child(1) {
  margin: 0 0 5px;
}
.error > :nth-child(2) {
  margin: 0 0 30px;
}

.years {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 0 20px;
  margin: auto;
  max-width: 420px;
}
.years div {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--theme-shade-700);
}

.btns {
  display: flex;
  align-items: center;
}
.wsh .btns {
  margin: auto 0 13px;
}
.btn {
  fill: var(--theme-shade-700);
  color: var(--theme-shade-700);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.tbl .btn,
.thf .btn {
  margin-left: 12px;
}
.wsh .btn {
  margin-right: 12px;
}
.btn span {
  margin-left: 10px;
  font-weight: 500;
  font-size: 17px;
  font-variant-numeric: tabular-nums;
  letter-spacing: -0.02em;
  white-space: nowrap;
  transition-property: color;
  transition-duration: 150ms;
  transition-timing-function: ease;
  overflow: hidden;
}
.btn a {
  border-radius: 999px;
  width: 18px;
  height: 18px;
  display: grid;
  transition-property: box-shadow background-color fill;
  transition-duration: 150ms;
  transition-timing-function: ease;
}
.b1.active {
  color: var(--theme-primary);
}
.b1.active a svg {
  fill: var(--theme-primary);
}
.b2.active {
  color: var(--theme-like);
}
.b2.active a svg {
  fill: var(--theme-like);
}

@media (hover: hover) {
  .b1:hover {
    color: var(--theme-primary);
  }
  .b1:hover a {
    box-shadow: 0 0 0 7px var(--theme-primary-t90);
    background-color: var(--theme-primary-t90);
    fill: var(--theme-primary);
  }
  /* .b2:hover {
    color: var(--theme-like);
  }
  .b2:hover a {
    box-shadow: 0 0 0 7px var(--theme-like-t90);
    background-color: var(--theme-like-t90);
    fill: var(--theme-like);
  } */
  .b1:focus-visible {
    outline: none;
    color: var(--theme-primary);
  }
  .b1:focus-visible a {
    box-shadow: 0 0 0 7px var(--theme-primary-t90);
    background-color: var(--theme-primary-t90);
    fill: var(--theme-primary);
  }
  /* .b2:focus-visible {
    outline: none;
    color: var(--theme-like);
  }
  .b2:focus-visible a {
    box-shadow: 0 0 0 7px var(--theme-like-t90);
    background-color: var(--theme-like-t90);
    fill: var(--theme-like);
  } */
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
}
.marquee > a {
  display: inline-block;
  animation: marquee1 linear infinite alternate;
}
.marquee > a > div {
  color: var(--theme-primary);
  animation: marquee2 linear infinite alternate;
  animation-duration: inherit;
}
.marquee > a:focus-visible {
  outline: none;
}
.marquee > a:focus-visible > div {
  color: var(--theme-text);
}
@keyframes marquee1 {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  80% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}
@keyframes marquee2 {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  80% {
    margin-left: -100%;
  }
  100% {
    margin-left: -100%;
  }
}
noscript {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
footer {
  font-size: 18px;
  color: var(--theme-shade-700);
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  padding: 16px 60px;
}
footer > p {
  margin: 0px;
}
footer > p > a {
  color: var(--theme-primary);
}
footer > div {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
footer > div > a {
  display: flex;
}
footer > div > a > svg {
  display: inline;
  width: 20px;
  height: 20px;
  margin: 5px;
  fill: var(--theme-shade-700);
}
.pre {
  white-space: pre-wrap;
}

.clip {
  position: fixed;
}
.clip.anim {
  animation: open 1s ease-out !important;
}
.clip.anim.reverse {
  animation-direction: reverse !important;
}
.pause * {
  animation: none !important;
  transition: none !important;
}

@keyframes open {
  0% {
    top: 32px;
    left: var(--origin);
    width: 0rem;
    height: 0rem;
    clip-path: circle(20px at center);
  }
  100% {
    top: calc(32px - (var(--side) / 2));
    left: calc(var(--origin) - (var(--side) / 2));
    width: var(--side);
    height: var(--side);
    clip-path: circle(100% at center);
  }
}
.app {
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: var(--theme-background);
}
.app {
  --theme-background: #fafafa;
  --theme-header: #fafafabf;
  --theme-box: #ffffff;
  --theme-shade-100: #eff0f1;
  --theme-shade-200: #e2e5e9;
  --theme-shade-700: #687684;
  --theme-text: #0f1419;
  --theme-box-shadow: 0px 12px 24px -4px #68768426;
  --theme-scrollbar-track: #e6e6e6;
  /* --theme-like: #f91880;
  --theme-like-t90: color-mix(in srgb, var(--theme-like), #0000 90%); */
  --theme-primary-t90: color-mix(in srgb, var(--theme-primary), #0000 90%);
}
.app.dark {
  --theme-background: #060608;
  --theme-header: #060608bf;
  --theme-box: #101217;
  --theme-shade-100: #1b1c20;
  --theme-shade-200: #26272c;
  --theme-shade-700: #aab8c7;
  --theme-text: #ffffff;
  --theme-box-shadow: none;
  --theme-scrollbar-track: #171717;
}

::selection {
  color: var(--theme-background);
  background-color: var(--theme-primary);
}
.noselect {
  user-select: none;
  -webkit-user-select: none;
}

.scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--theme-primary);
  border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: var(--theme-scrollbar-track);
}
.scrollbar::-webkit-scrollbar-corner {
  background: var(--theme-scrollbar-track);
}
